<div class="navigation">
  <ul>
    <li><%= link_to image_tag('backarrow.png', alt: 'Back'), category_path(params[:category_id]), class: 'nav-link' %></li>
    <h2>Add a new Purchase</h2>
    <li><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" %></li>
  </ul>
</div>
<div class="form-class">
<%= form_with(model: [@category, @purchase], url: category_purchases_path(@category), method: :post, id: "purchase-form") do |form| %>
    <%= form.text_field :name %>
    <%= form.text_field :amount %>
    <%= form.select(:category_ids, [[@category.name, @category.id]], {}, { multiple: false }) %>
    <% @categories.each do |category| %>
      <% next if category == @category %>
        <%= form.check_box :category_ids, { multiple: true }, category.id, nil %>
        <%= form.label "purchase_category_ids_#{category.id}", category.name %>
    <% end %>

    <%= form.submit "Create Purchase" %>
  </div>
<% end %>
</div>
